<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores numquam doloribus, omnis ratione aliquid, repudiandae quisquam, velit dignissimos itaque suscipit mollitia quibusdam molestias. Est aspernatur suscipit ipsam! Nemo, ducimus quo.</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi aliquam recusandae architecto laboriosam dolores accusamus sed velit commodi possimus aliquid harum quis numquam distinctio veritatis, deleniti, ipsum, ratione fugit totam.</p>
</body>
</html>